.cart-container {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    max-width: 1200px;
    margin: 0 auto;
    background-color: #1d1d1d;
    color: #ccc;
    border-radius: 10px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.15);
}

.cart-items-list {
    flex: 0.6;
    margin-right: 20px;
    background-color: #313131;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.bill-summary {
    flex: 0.4;
    padding: 20px;
    background-color: #313131;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.cart-items {
    padding: 10px 0;
}

.cart-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    border-bottom: 1px solid #e0e0e0;
    background-color: #2c2c2c;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.cart-item:hover {
    background-color: #313131;
}

.cart-item img {
    width: auto;
    height: 50px;
    margin-right: 15px;
    border-radius: 5px;
}

.price-breakdown,
.total {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    background-color: #2c2c2c;
    border-radius: 5px;
    margin-bottom: 10px;
    text-align: left;
}

.price-breakdown {
    margin: 10px 0;
    color: #ccc;
}

.total {
    font-weight: bold;
    font-size: 1.3em;
}

#grandTotal {
    color: #28a745;
    font-weight: bold;
}

.checkout-btn {
    width: 100%;
    padding: 12px;
    background-color: #28a745;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 1.1em;
    cursor: pointer;
    margin-top: 20px;
    transition: background-color 0.3s;
}

.checkout-btn:hover {
    background-color: #218838;
}

.note {
    font-size: 0.9em;
    color: #666;
    margin-top: 20px;
    text-align: center;
}

.cart-item-details {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.cart-item-details h3 {
    margin: 0;
    font-size: 1.2em;
    font-weight: bold;
    color: #ccc;
    flex: 1;
    text-align: right;
}

.cart-item-details p {
    margin: 0 10px;
}

.cart-item-details button {
    padding: 5px 10px;
    background-color: #dc3545;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.cart-item-details button:hover {
    background-color: #c82333;
}
