@tailwind base;
@tailwind components;
@tailwind utilities;

.nav-links li {
    @apply inline-block;
}

.nav-btn {
    @apply text-2xl font-bold text-[#919191];
}

.nav-btn:hover {
    @apply text-white;
}

.login-nav-btn,
.register-nav-btn,
.cart-nav-btn,
.profile-nav-btn {
    @apply font-bold text-white;
}

.login-nav-btn:hover,
.register-nav-btn:hover,
.profile-nav-btn {
    @apply text-[#919191];
}

#quick-search-container {
    @apply relative mr-2 flex items-center z-50;
}

/* Mobile devices (up to 600px) */
@media (max-width: 600px) {
    .nav-bar {
        @apply flex-col p-2;
    }

    .nav-bar2 {
        @apply w-full justify-center mb-2;
    }

    .main-nav-links {
        @apply flex-col items-center w-full;
    }

    /* Hide navigation links */
    .nav-links {
        @apply hidden;
    }

    .nav-links li {
        @apply w-full py-2;
    }

    /* Adjust the search input to still be visible */
    .quick-search-input {
        @apply w-4/5 mb-2;
    }

    .dropdown {
        @apply max-w-[90%] w-auto;
    }

    .hamburger {
        @apply block cursor-pointer;
    }

    .hamburger.active + .nav-links {
        @apply hidden; /* Keep links hidden even if the hamburger is active */
    }

    .hamburger div {
        @apply w-6 h-[3px] bg-white my-[2px] transition-transform duration-300 ease-in-out;
    }

    .hamburger.active div:nth-child(1) {
        @apply rotate-45 translate-x-[5px] translate-y-[5px];
    }

    .hamburger.active div:nth-child(2) {
        @apply opacity-0;
    }

    .hamburger.active div:nth-child(3) {
        @apply -rotate-45 translate-x-[5px] -translate-y-[5px];
    }
}

/* Tablet devices (600px to 1024px) */
@media (min-width: 600px) and (max-width: 1024px) {
    .nav-bar {
        @apply py-2 px-[5%];
    }

    .nav-bar2 {
        @apply w-4/5;
    }

    .main-nav-links {
        @apply gap-5;
    }

    .nav-links {
        @apply flex gap-5 justify-center;
    }
}

/* Larger screens (1024px and above) */
@media (min-width: 1024px) {
    .nav-bar {
        @apply justify-between;
    }

    .main-nav-links {
        @apply justify-start;
    }

    .quick-search-input {
        @apply w-full;
    }

    .nav-links {
        @apply flex justify-start;
    }
}

.cart-count {
    position: absolute;
    top: -5px;
    right: -10px;
    background-color: #ff3b30;
    color: white;
    font-size: 12px;
    width: 18px;
    height: 18px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
}
